<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express Pizza</title>
</head>
<body>
    
<h1>Welcome To Express Pizza</h1>
<h2>Specialty Pizzas</h2>
<ul>
    <li><a href="/specialty?name=Meat+Eater's&price=18"></a>Meat Eater's</li>
    <li><a href="/specialty?name=Dinosaur+Pizza&price=35"></a>Dinosaur Pizza</li>
    <li><a href="/specialty?name=I-Can't-Believe-I-Ate-The-Whole-Thing+Pizza&price=42"></a>I-Can't-Believe-I-Ate-The-Whole-Thing Pizza</li>
</ul>
<h2>Custom Pizza</h2>
<a href="/custom">Build Your Own.</a>
<h2>Leave a review</h2>
<a href="/review">Click here to leave a review.</a>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
    crossorigin="anonymous"></script>

</body>
</html>
